/* src/components/data/Data.css */
.data-container {
    margin: 0 auto;
    padding: 1.25rem;
    background-image: url('../../../assets/Imagenes/Home.jpg');
    background-repeat: no-repeat;
    background-size: 100% 120%;
    font-size: 1.25rem;
}


.form-section {
    width: 40%;
    text-align: center;
    margin-left: 10rem;
}

.input-section textarea {
    width: 100%;
    height: 12.5rem;
    /* Aumenta la altura del textarea */
    margin-bottom: .625rem;
    /* Agrega espacio en la parte inferior del textarea */
    padding: .625rem;
    border: .0625rem solid #ccc;
    border-radius: .25rem;
    resize: vertical;
    resize: none;
}



label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.file-input {
    font-size: 1rem;
}


.input-section {
    display: block;
    margin-top: 10px;
    margin-bottom: 1.875rem;
    /* Agrega espacio en la parte inferior del input de archivo */
}

.button-json {
    margin-bottom: 0.8rem;
    /* Centra el botón */
    padding: 15px 20px;
    /* Aumenta el padding para que sea más grande */
    background-color: #626161;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #186e6e;
}

.success-message {
    margin-top: 20px;
    color: green;
    background-color: white;
    text-align: center;
}

/* Añadido un media query para dispositivos pequeños */
@media screen and (max-width: 600px) {

}

@media (min-width:801px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */

}