/* src/components/home/Home.css */

.container {
    text-align: center;
    height: 90vh;
    background-image: url('../../assets/Imagenes/Home.jpg');
    background-repeat: no-repeat;
    background-size:100% 120%;
    box-sizing: border-box;
    display: flex; /* Añadido display flex para centrar verticalmente el contenido */
    flex-direction: column; /* Cambiado a disposición de columna en dispositivos pequeños */
    justify-content: center; /* Centra verticalmente el contenido */
}

.subcontainer{
    margin-top: -10rem;
    width: 60%;
}

.button-zone {
    margin-bottom: 2rem;
}

.button-container {
    margin-top: 2rem;
    display: flex;
    justify-content: center; /* Centra los elementos hijos horizontalmente */
    align-items: center; /* Centra los elementos hijos verticalmente */
}

.button-home {
    font-size: 2rem;
    height: 7rem;
    margin: 2rem; /* Ajustado el margen */
    cursor: pointer;
    border-radius: 0.3125rem;
    background-color: #626161;
    color: white;
    width: 19.375rem; /* Ajustado el ancho para dar espacio entre los botones */
}

.button-home:hover {
    background-color: #186e6e;
}

/* Añadido un media query para dispositivos pequeños */
@media screen and (max-width: 600px) {
    .button-container {
        flex-direction: column; /* Cambiado a disposición de columna para dispositivos pequeños */
    }

    .button-home {
        width: 100%; /* Cambiado a ancho del 100% para dispositivos pequeños */
    }
}
