/* src/components/TangoSoftware/table/tableHeader/TableHeader.css */

.table-header {
    margin: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tfoot {
    background-color: #f2f2f2;
}

.th-n°{
    width: 10rem;
}

.alert {
    background-color: #f44336;
    color: white;
    padding: 10px;
    margin-top: 10px;
    display: inline-block;
}