/* src/App.css */
@font-face {
  font-family: 'Museo Sans-300';
  src: url(./assets/Fonts/MuseoSansCyrl-300.ttf);
}

.App {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}


main {
  height: 90vh;
}

.App-footer {
  display: flex;
  position:fixed;
  left:0px;
  bottom:0px;
  width:100%;
  text-align: center;
}

/* Todas las imágenes deben ser del mismo tamañño que su contenedor*/
img {
  width: 100%;
}

/* Ajusta la apariencia de los elementos en pantallas más pequeñas */
@media screen and (max-width: 37.5rem) {
  .App-main {
    margin-top: 3rem;
  }
}

@media (min-width:320px) {

  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  table,
  p,
  img {
    padding-right: 1em;
    width: 100%;
  }
}

@media (min-width:480px) {
  /* smartphones, Android phones, landscape iPhone */
}

@media (min-width:600px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
}

@media (min-width:801px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}

@media (min-width:1025px) {
  /* big landscape tablets, laptops, and desktops */
}

@media (min-width:1281px) {
  /* hi-res laptops and desktops */
}